/* Here, I am making sure that the fonts are all uniform so the style of the website looks good. */

p {
    color: black;
    font-family: sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

ul {
    color: black;
    font-family: sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.headers {
    background-color: rgb(217, 218, 219);
    font-family: sans-serif;
    text-align: center;
    color: black;
    margin-left: 60px;
    margin-right: 60px;
}

/* Again, setting up a style so when this is called upon the background is blue and the fone is white.*/

.additionalinfo
    {background-color: rgb(11, 70, 129);
        color: white;
    }

@media (orientation: portrait) {
        #container {flex-direction: column;}
    }