/* Here, I am making sure that the fonts are all uniform so the style of the website looks good. */

p {
    color: black;
    font-family: sans-serif;
}

ul {
    color: black;
    font-family: sans-serif;
}

.headers {
    background-color: lightblue;
    font-family: sans-serif;
    text-align: center;
    color: black;
    width: 90%;
    margin: auto;
}

/* Again, setting up a style so when this is called upon the background is blue and the fone is white.*/
.additionalinfo
    {background-color: rgb(11, 70, 129);
        color: white;
    }