p {
    color: black;
    font-family: sans-serif;
}

ul {
    color: black;
    font-family: sans-serif;
}

.headers {
    background-color: rgb(69, 125, 215);
    color: white;
    font-family: sans-serif;
    text-align: center;
    width: 90%;
    margin: auto;
}

.additionalinfo
    {background-color: rgb(11, 70, 129);
        color: white;
    }


